[Unit]
Description=Mail Helper - Mail Processor Timer
Requires=mail-helper-processor.service

[Timer]
# Läuft alle 15 Minuten
OnBootSec=30s
OnUnitActiveSec=15m
Persistent=true

[Install]
WantedBy=timers.target
